@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
:root{
    background-color: black;
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}
.comanda1{
    display: flex;
    flex-flow: row;
    align-items:center ;
    justify-content: space-evenly;
}
.comanda1 img{
    height: 10%;
}
#listo{
    font-size: 12rem;
}
p{
    margin: 10%;
    font-size: 130rem;
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}
form{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
input{
    display: flex;
    justify-content: center;
width: 100%;
}
button{
    width: 20%;
    color: red;
    display: block;
    height: 120px;
    
}